doctype html
html
	head 
		title Upload Update or Delete
	body
		h1 #{title}
		ul
			li #[a(href='users/upload') Upload a File]
			li #[a(href='users/update') Update a file]
			li #[a(href='users/viewList') View Uploaded Files]